---
import RatesTable from '../components/RatesTable.jsx';
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Nairatoday - Live Black Market Exchange Rates</title>
    <meta name="description" content="Track naira black market exchange rate: Dollar, Euro, Pound, and more to Naira. Live rates, daily updates." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1>Nairatoday.com Live Black Market Rates</h1>
    <RatesTable client:load />

    <div style="padding: 30px; max-width:700px; margin: 2em auto; background: #fff; border-radius: 12px;">
      <h2>Welcome to Nairatoday.com</h2>
      <p>Your trusted source for real-time updates on the Dollar to Naira Black Market exchange rate. We provide accurate, up-to-date information to help you stay informed and make smarter financial decisions.</p>
    </div>
  </body>
</html>
