---
import LiveRates from "../components/LiveRates.jsx";
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Live Currency Rates</title>
  </head>
  <body>
    <p>
      USD Sell Rate: <b id="usdsell">Loading...</b>
    </p>
    <p>
      USD Buy Rate: <b id="usdbuy">Loading...</b>
    </p>
    <p>
      EUR Sell Rate: <b id="eursell">Loading...</b>
    </p>
    <p>
      GBP Buy Rate: <b id="gbpbuy">Loading...</b>
    </p>

    <!-- Load rates at runtime -->
    <LiveRates client:load />
  </body>
</html>
