---
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Nairatoday</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <slot name="head" />
    <link rel="stylesheet" href="/src/styles/global.css">
  </head>
  <body>
    <slot />         <!-- This is where your page content goes -->
    <Footer />       <!-- Footer will be at the bottom on every page -->
  </body>
</html>
